<template>
  <form @submit.prevent="handleSubmit">
    <div>
      <label>Name : </label>
      <input type="text" v-model="dataForm.name" />
    </div>
    <div>
      <label>Description : </label>
      <input type="text" v-model="dataForm.description" />
    </div>
    <div>
      <label>Price : </label>
      <input type="number" v-model="dataForm.price" />
    </div>
    <div>
      <label>Code Lab : </label>
      <input type="text" v-model="dataForm.code_lab" />
    </div>
    <button type="submit">Submit</button>
  </form>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dataForm: {
        code_lab: "",
        name: "",
        price: "",
        description: "",
      },
    };
  },
  methods: {
    handleSubmit: async function () {
      try {
        const response = await axios.post(
          "http://localhost:8000/labs",
          this.dataForm
        );
        window.alert("Berhasil tambahkan data");
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>

<style></style>
