<template>
  <table border="1">
    <tr>
      <th>Code Lab</th>
      <th>Nama Lab</th>
      <th>Description</th>
      <th>Harga</th>
      <th>Action</th>
    </tr>
    <tr v-for="lab in dataLab" :key="lab.id">
      <td>{{ lab.code_lab }}</td>
      <td>{{ lab.name }}</td>
      <td>{{ lab.description }}</td>
      <td>{{ lab.price }}</td>
      <td>
        <nuxt-link :to="`/lab/detail/${lab.id}`"
          ><button>View</button></nuxt-link
        >
        <nuxt-link :to="`/lab/edit/${lab.id}`">
          <button>Edit</button>
        </nuxt-link>
        <button @click="deleteLab(lab.id)">Delete</button>
      </td>
    </tr>
  </table>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      dataLab: {},
    };
  },
  methods: {
    getDataLab: async function () {
      try {
        const response = await axios.get("http://localhost:8000/labs");
        this.dataLab = response.data.data;
        console.log(this.dataLab);
      } catch (error) {
        console.error(error);
      }
    },
    deleteLab: async function (id) {
      const konfirmasi = confirm("Apakah yakin data dihapus?");
      if (konfirmasi) {
        try {
          const response = await axios.delete(
            "http://localhost:8000/labs/" + id
          );
          window.alert("Data berhasil di hapus");
          this.getDataLab();
        } catch (error) {
          console.error(error);
        }
      }
    },
  },
  beforeMount() {
    this.getDataLab();
  },
};
</script>

<style></style>
