<template>
  <table border="1">
    <tr>
      <th>Code Lab</th>
      <th>Nama Lab</th>
      <th>Description</th>
      <th>Harga</th>
    </tr>
    <tr>
      <td>{{ dataLab.code_lab }}</td>
      <td>{{ dataLab.name }}</td>
      <td>{{ dataLab.description }}</td>
      <td>{{ dataLab.price }}</td>
    </tr>
  </table>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      dataLab: {},
    };
  },
  methods: {
    getOneLab: async function () {
      try {
        const response = await axios.get(
          "http://localhost:8000/labs/" + useRoute().params.code
        );
        this.dataLab = response.data.data;
        console.log(this.dataLab);
      } catch (error) {
        console.error(error);
      }
    },
  },
  beforeMount() {
    this.getOneLab();
  },
};
</script>

<style></style>
