<template>
  <form @submit.prevent="handleSubmit">
    <div>
      <label>Name : </label>
      <input type="text" v-model="dataForm.name" />
    </div>
    <div>
      <label>Description : </label>
      <input type="text" v-model="dataForm.description" />
    </div>
    <div>
      <label>Price : </label>
      <input type="number" v-model="dataForm.price" />
    </div>
    <div>
      <label>Code Lab : </label>
      <input type="text" v-model="dataForm.code_lab" />
    </div>
    <button type="submit">Submit</button>
  </form>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dataForm: {
        name: "",
        code_lab: "",
        price: "",
        code_lab: "",
      },
    };
  },
  methods: {
    getDataLab: async function () {
      try {
        const response = await axios.get(
          "http://localhost:8000/labs/" + useRoute().params.id
        );
        this.dataForm = response.data.data;
      } catch (error) {
        console.error(error);
      }
    },
    handleSubmit: async function () {
      try {
        const response = await axios.put(
          "http://localhost:8000/labs/" + useRoute().params.id,
          this.dataForm
        );
        window.alert("Data berhasil di update");
      } catch (error) {
        console.error(error);
      }
    },
  },
  beforeMount() {
    this.getDataLab();
  },
};
</script>

<style></style>
